{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Movies Table</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titlu</th>
                <th>An</th>
                <th>Descriere</th>
            </tr>
        </thead>

        <tbody>
            {% for movie in movies_html %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.description }}</td>
                    {% if movie.photo %}
                        <td><img src="{{ movie.photo.url }}" height="300px" /></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}