{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Movie:</h1>

    <br />

    <div class="movie_container">
        {{ movie.title }}
        {{ movie.year }}
        {{ movie.description }}

        <form method="post" action="{% url 'toggle_movie' movie.id %}">
            {% csrf_token %}
            {% if is_watched %}
                <button type="submit">Remove from Watchlist</button>
            {% else %}
                <button type="submit">Add to Watchlist</button>
            {% endif %}
        </form>

        <br />

        {% if movie.photo %}
            <img src="{{ movie.photo.url }}" height="300px"/>
        {% endif %}
    </div>
{% endblock %}